[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
minecraft = {git = "https://github.com/ammaraskar/pyCraft.git"}
requests = "*"
cryptography = "*"
future = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py.git"}
sqlalchemy = "*"
mcstatus = "*"
quarry = "*"

[requires]
python_version = "3.6"
