[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
cryptography = "*"
future = "*"
sqlalchemy = "*"
mcstatus = "*"
quarry = "*"
discord-py = {git = "https://github.com/Rapptz/discord.py.git", ref = "rewrite"}
bidict = "*"
minecraft = {git = "https://github.com/ammaraskar/pyCraft.git"}

[requires]
python_version = "3.7"
